{% extends "base.html" %}
{% block content %}
{% set sum = [0] -%}
<h2 class="title">
  My orders:
</h2>
    <table class="table" align="center">
        <tr>
            <th>Store</th>
            <th>Date</th>
            <th>Good</th>
            <th>Price</th>
        </tr>
        {%  for order in orders %}
                 <tr>
                    <td>{{ order["store"] }}</td>
                    <td>{{ order["order_date"] }}</td>
                    <td></td>
                    <td></td>
                </tr>
            {% for key, value in order["order_goods"].items() %}
                 <tr>
                    <td></td>
                    <td></td>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% if sum.append(sum.pop()+ value) -%}{% endif %}
            {% endfor %}
                  <tr>
                    <td></td>
                    <td></td>
                    <td><b>Order sum</b></td>
                    <td><b>{{ order["order_price"] }}</b></td>
                </tr>
        {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td><b>Total sum</b></td>
                <td><b>{{ sum[0] }}</b></td>
            </tr>
        </table>
{% endblock %}